.content {
    color: aqua;
}


.usual {
    /* margin-top: 1em; */
    padding: 1em;
    background-color: white;
    height: auto;
    font-family: 'League Spartan', sans-serif;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(50%,2fr)); */
    grid-template-columns: 50% 50%;
    gap: 2em;
    /* margin-right: 2em; */
    margin: 1em 2em 1em 2em;
}

.content-headings {
    color: #f68520;
    font-size: 2em;
    position: relative;
    /* left: 2em; */
}

.stack-icons {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(3, 8fr);
    grid-template-rows: auto auto auto auto;
    image-resolution: 20px;
}

.stack-icons>img {
    padding: 20px;
    width: 45%;
    height: 45%;
}

#about>div>p,
#content-2>p {
    display: inline;
    text-align: left;
    padding: 1em;
    padding-left: 2em;
    color: rgb(68, 67, 67);
    font-size: 1em;
    /* font-family: 'Roboto Slab', serif; */
}


#content-3>div {
    color: black;
    display: block;
    text-align: left;
    padding: 1em;
}

#about>div {
    display: grid;
    grid-template-columns: 65%;
}

.timeline{
    color: grey !important;
}

.achievements > div{
    margin-right: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.ach-container, .wid-container, .ed-container{
    margin-left: 1em;
    padding: 1em;
}

.ach-container > h3,.wid-container > h3, #ed-details>h3{
    color: black;
}

.ach-container > p,.wid-container> p, #ed-details>p{
    padding: 0.5em;
}


.wid-container > p {
    color: rgb(68, 67, 67);
}


.my-experiences > div{
    margin-left: 1em;
    padding: 1em;
}

.my-experiences > div > p{
    padding: 0.5em;
    font-size: 1em;
    /* color: black */
    color: rgb(68, 67, 67);
}

