#Projects > h1, #other-content > h1, #meetMe > h1{
    color: #f68520;
    font-size: xx-large;
    margin: 2em;
    background-color: white;
    height: auto;
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    height: auto;
}

.content-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18em, 2fr));
    gap: 2em;
    row-gap: 2em;
    margin: 1em;
    padding: 1em;
    align-items: center;
    justify-items: center;
}

.content-boxes > div{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40% 20% 30% 10%;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border-radius: 1.5em;
    margin: 1em;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.548);
    height: 18em;
    width: 18em;
    color: black;
    background-color: #003768;
    align-items: center;
    box-shadow: 1px 1px 3px 1px whitesmoke inset;
}

.content-boxes :hover:not(.content-boxes > div > h3, p, i){
    transform: scale(1.1);
    transition: all 0.25s ease-in-out 0s;
    /* transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); */
}


.content-boxes > div > h3 > a{
    list-style: none;
    text-decoration: none;
    color: #20f68b;
    font-size: x-large;

    text-align: start;
}

.content-boxes > div > h3{
    text-align: start;
    font-size: x-large;
    color: #20f68b;
}

.content-boxes > div > i{
    font-size: 400%;
    color: rgba(245, 245, 245, 0.377);
    padding: 10%;
}

.content-boxes > div >p {
    text-align: start;
    font-size: small;
    color: rgba(245, 245, 245, 0.377);
}

.tech-used{
    position: relative;
    color: #20f68b !important;
    font-size: small !important;
    top: 20%;
    text-align: center;
    width: 80%;
}


#meetMe{
    display: flex;
    flex-direction: column;
    margin: 5em;
    padding: 5em;
    justify-content: center;
    align-items: center;
}

#meet-info > p{
    color: rgb(82, 81, 81);
    padding: 2em;
    /* width: 20em; */
    font-size: large;
    text-align: center;
}

#meet-info > div {
    padding-top: 2em;
    display: flex;
    justify-content: center;
}

#mail-ico{
    background: #212121;
    padding: 1.2em 1.8em;
    color: white;
    display: inline-block;
    border: 2px solid #212121;
    border-radius: 5px;
}

#mail-ico{
    font-size: large;
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
}

#mail-ico:hover{
    background-color: whitesmoke;
    color: #212121;
}


hr{
    position: relative;
    left: 5%;
    width: 90%;
}

footer {
    margin: 1%;
    display: grid;
    grid-template-columns: auto auto;
    color: grey;
}

footer>#tnote{
    text-align: start;
    padding-left: 5em;
}

footer>#version {
    text-align: end;
    padding-right: 5em;
}