/* #alert{
    visibility: hidden;
} */


/* @media screen and (max-width: 600px){
    *{
        visibility: hidden;
    }

    #alert{
        display: block;
        visibility: visible !important;
    }
} */
