/* #alert{
    visibility: hidden;
} */


@media screen and (max-width: 700px) {
    * {
        visibility: visible;
    }

    /* #alert{
        display: block;
        visibility: visible !important;
    } */

    .sub-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 65% 30%;
        height: 90vh;
        width: 100%;
        align-items: center;
        justify-items: center;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.418);
    }

    .dp {
        width: 20em;
        height: 20em;
        /* filter: grayscale(100); */
        background-size: 20em;
        background-repeat: no-repeat;
        background-image: url("https://avatars.githubusercontent.com/u/76848292?v=4");
        border: 0px solid #000000d0;
        border-radius: 50%;
        box-shadow: 0px 0px 3px 1px #000000d0 inset;
    }

    .intro {
        display: flex;
        justify-self: start;
        flex-direction: column;
        margin-left: 0px;
        align-items: center;
        width: 20em;
        height: 20em;
    }

    .sub-intro {
        font-family: 'Open Sans', sans-serif;
        font-size: small;
        width: 20em;
        position: relative;
        top: 7.5em;
        left: 2em;
    }


    /* Navbar-mob-css */

    nav {
        position: relative;
        display: block;
        backface-visibility: visible;
        /* background-color: rgb(10, 25, 47); */
        /* background-color: rgb(231, 226, 226); */
        background-color: #272727;
        border: 2px solid whitesmoke;
        border-radius: 0px 0px 10px 10px;
        width: 95vw;
        height: 100%;
        /* top: -0.4em; */
        left: 50%;
        transform: translateX(-50%);
        /* box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.575); */
        top: -4.1em;
    }

    nav>ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3em;
    }

    nav>ul>li {
        list-style: none;
        display: inline-block;
        padding: 0 0.7em;
        text-align: center;
    }

    .nav-icon {
        margin-top: 0.15em;
        margin-left: auto;
        line-height: 1.4;
        border: 0;
        font-size: 2em;
        background-color: transparent;
        cursor: pointer;

    }

    .social {
        display: none;
        visibility: hidden;
        z-index: 0;
    }

    .usual {
        /* margin-top: 1em; */
        /* padding: 1em; */
        background-color: white;
        height: auto;
        font-family: 'League Spartan', sans-serif;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50%,1fr));
        /* grid-template-columns: 50% 50%; */
        gap: 1em;
        /* margin-right: 2em; */
        margin: 1em;
    }

    .content-headings {
        font-size: 1.5em;
    }

}