@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(to left, rgb(15, 22, 35), rgb(8, 20, 13)); */
  background: linear-gradient(90deg, rgba(9,13,20,1) 0%, rgba(9,13,20,1) 100%);
}
